.cart_holder{min-height: 750px; position: relative;}

h2.shop_cart_head{margin: 30px 0px 20px 15px; font-size: 30px; color: #1e1e1e;}

.tables_and_side_bar_wrapp{width: 100%;min-height: 665px;position: relative;}
/*---===================== Tables Shipping =====================---*/
.tables_shopping{width: 100%; padding-right: 415px; padding-left: 5px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
	.shopping_cart thead tr.table_head{height: 24px;}
	.shopping_cart thead tr.above_table_head{height: 24px;}
		.shopping_cart thead tr.above_table_head th div{font-size: 18px;font-weight: normal;color: #1e1e1e;margin-bottom: 7px; padding:0px 20px 8px 8px; border-bottom: 1px solid #d6d6d6; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
		.shopping_cart thead tr.table_head.instock_head th{background-color: #ccc;}
		.shopping_cart thead tr.table_head.preorder_head th{background-color: #CDF3FF;}
		.shopping_cart thead tr.table_head.vintage_head th{background-color: #A4263C; position: relative; color:#fff;}
			.shopping_cart thead tr.table_head.vintage_head th span{display: block; width: 76px; height: 103px; position: absolute; background: url(../images/vintage-product-icon.png);background-size: cover;left: 3px;top: 0px;}
		.shopping_cart thead tr.table_head th.cart_capt { padding-left: 15px; font-size: 18px; line-height: 1.6;}
		.shopping_cart thead tr.table_head.vintage_head th.cart_capt { padding-left: 90px;}
	
	.shopping_cart tbody td {padding: 0px 20px 8px 8px;}
	.shopping_cart tbody tr.prod td{padding-top: 25px;}
	.shopping_cart tbody tr.prod td.it_image{padding-left: 25px;}
	.shopping_cart tbody tr.prod td.it_price{width: 160px; padding-left: 0px;font-size: 21px; font-weight: bold; font-family: Oswald, Arial, Helvetica, sans-serif;}
	.shopping_cart tbody tr.prod td:last-child{width: 135px; padding-right: 0px;}
		.shopping_cart tbody td h3{margin:0px;font-size: 18px;}
		.shopping_cart .qty_wrap .inp_select{width:85px; height: 25px; margin: 0px;}
		.shopping_cart .qty_wrap input.qty_update{display: none;}
	.shopping_cart tbody tr.free_shipp td{padding: 5px 0px 50px 8px;}
	.shopping_cart tbody tr.bottom_row td{padding: 10px 0px 0px;}
		.shopping_cart tbody tr.bottom_row td div{margin-bottom: 20px; padding-bottom: 10px; border-bottom: 1px solid #bababa; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}

/*---===================== Side Bar =====================---*/
.side_bar{width: 415px;  position: absolute; text-align: center;top: 23px;right: 0px;}
	
	/*---Side Bar In start ---*/
	.side_bar_in{width: 100%; height: 100%; padding: 0px 20px; margin-bottom: 35px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
		.side_bar_top{ padding: 20px 0px 33px 0px; background-color: #F7F7F7; border-top-left-radius: 10px; border-top-right-radius: 10px; border-top: 3px solid #eee; border-left: 3px solid #eee; border-right: 3px solid #eee; border-bottom: 1px solid #C7C7C7; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
			.side_bar_top p{font-size: 19px; font-weight: bold;}
			.side_bar_top .price{display: inline-block;font-size: 33px; font-weight: bold; font-family: Oswald, Arial, Helvetica, sans-serif;margin-bottom: 15px;}
			.side_bar_top a{float: none;}
		.side_bar_bottom{ background-color: #FEFEFE; text-align: left; padding: 20px 10px; margin-bottom: 30px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-bottom: 3px solid #eee; border-left: 3px solid #eee; border-right: 3px solid #eee; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
			.side_bar_bottom p{font-size: 18px; font-weight: bold; color: #1e1e1e;}
				.side_bar_bottom table tbody tr td{width: 25%; padding: 10px 0px}
				.side_bar_bottom table tbody tr td:first-child{width: 75%;}
				.side_bar_bottom table tbody tr td .free_r{font-size: 18px; text-transform: uppercase; color:#a32638;}
				.side_bar_bottom table tbody tr .free_ord span{color: #a32638;}
				.side_bar_bottom table tbody tr .free_ord .check_red{display:block; width: 19px; height: 20px; background: url(../images/tf-sprite.png) no-repeat 0px 0px;float: left;margin-right: 10px;}
				.side_bar_bottom table tbody #additional_ship td.international_orders span{display: block; width: 240px; color:#0066cc; font-size: 14px;}
				.side_bar_bottom table tbody #additional_ship td.international_orders .check_blue{display:block; width: 19px; height: 20px; background: url(../images/tf-sprite.png) no-repeat -224px 0px;float: left; margin: 15px 10px 15px 0px;}

				.side_bar_bottom table tbody tr:last-child td{font-size: 18px; font-weight: bold; padding: 25px 0px;}
		.side_bar_in_pts{width: 100%; border-radius: 10px; border: 3px solid #eee; background-color: #F7F7F7; padding: 20px 10px; text-align: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
			.side_bar_in_pts tr.points_bottom td{padding: 0px 0px 30px 0px;}
			.side_bar_in_pts tr.points_bottom td:first-child{font-family: Oswald, Arial, Helvetica, sans-serif; font-size: 22px; font-weight: bold;text-transform: uppercase;}
	/*---Side Bar In end ---*/

/*---===================== Cart Botom =====================---*/
.cart_bottom{width: 100%; padding: 0px 20px 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}


/*---===================== Recommended Products =====================---*/
.recommended_prod {width: 100%; padding: 30px 18px 40px; border-bottom: 1px solid #999; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
#recommended_products{}
	.recommended_prod h3{display: block; width: 100%; border-bottom: 2px solid #d6d6d6; padding: 20px 0px; margin-bottom: 30px;}
	#recommended_products .thumbs_hold{ height: 220px;}
	
/* --- Continue Shopping Lightbox --- */
#continue_shopping{padding:0; background:none; width:870px; border-radius:4px;}
#continue_shopping .modal_bar{height:0; margin:0; padding:0; border:none}
#continue_shopping .modal_title{display:none}
#continue_shopping .modal_close{}
#continue_shopping .modal_close:hover{box-shadow:none}
#continue_shopping .modal_hold{padding:0; border-radius:4px;}
#continue_shopping .modal_hold > div{padding:0}
	#continue_shopping .title{font-family:Arial, Helvetica, sans-serif; font-size:24px; font-weight:bold; margin:0 10px 12px; color:#111}
	#pop_cat_wrap{border-bottom:1px solid #dcdcdc; margin-bottom:15px}
.most_popular{width:50%; float:left; padding:20px 12px 10px 10px; border-right:1px solid #dcdcdc; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
	.pop_categories{}
	.most_popular .title{}
	.most_popular .title a{float:right; color:#990000; font-weight:normal; font-size:14px}
	.item_pop{padding:4px 10px 12px}
	.item_pop .pop_image{display:block; float:left}
	.item_pop .pop_image >img{border:1px solid #dcdcdc; max-width:118px;}
	.item_pop >div{margin-left:140px}
	.item_pop >div h4{font-family:Arial, Helvetica, sans-serif; font-size:15px; font-weight:bold; margin-bottom:15px; text-transform:none;}
	.item_pop >div .pop_price{font-family:Oswald, Arial, sans-serif; font-weight:bold; font-size:18px; color:#000; display:block;}
#continue_shopping #popular-categories{width:50%; float:left; padding:17px 8px 10px 8px; background:#f1f1f1; margin:0px 0 0 -1px; border-left:1px solid #dcdcdc;
 	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
#continue_shopping #popular-categories ul{min-height:170px; margin:0}
	#popular-categories .title a{text-decoration:underline}
	#continue_shopping #popular-categories h4{font-family:Oswald, sans-serif; font-size:15px; margin-bottom:15px;}
	#continue_shopping #popular-categories h4 a{padding:0; color:#111}
.also_viewed{clear:both; padding-bottom:15px}
	.also_viewed .title{margin:0 10px 12px;}
	.also_viewed .itemsWrap{margin:0 14px}
	
/* --- Source Points Lightbox --- */
#sl_hold #breadcrumb{display:none;}
.staticBanner{}
	.staticBanner img{max-width:100%;}
.tfBlockWhite, .tfBlockWhiteGray{font-size:22px; font-weight:bold; text-transform:uppercase; font-family:'Oswald', Arial, Helvetica, sans-serif; padding: 10px 0 20px;}
	.earn_redeem{padding:40px 0; text-align:center;}
	.earn_redeem .earn, .earn_redeem .redeem{display:inline-block; vertical-align:top; padding:0 15px;}
	.earn_redeem .text_er{display:block; padding:10px 0; text-transform:uppercase; font-weight:bold;}
	
#free_shipping_sec{}
#free_shipping_sec .cols2 > .col{float:none; width:100%; padding:15px;}
#free_shipping_sec h3{font-size:22px; text-align:center;}
#free_shipping_sec table{}
	#free_shipping_sec .shipTableWrap.fl_right{float:none;}
	#free_shipping_sec table thead th{padding:10px; font-size:16px; color:#fff; background:#666; border-bottom:1px solid #c8c8c8; font-weight:normal;}
	#free_shipping_sec table tbody td{padding:5px; border:1px solid #c8c8c8; font-size:14px; background:#f7f7f7; line-height:1.5;}
	#free_shipping_sec table tbody td:nth-child(2n){background:#fff;}	
	.shippingSmallprint{text-align:center; font-size:14px; padding:10px 40px;}

/*---===================== YOUR CART IS EMPTY =====================---*/
.no_items{width: 100%; min-height: 600px; text-align: center;}
	.no_items p{display: inline-block; width: 100%; font-family: Oswald, Arial, Helvetica, sans-serif; font-size: 44px; margin: 10% 0px 3%;}
