@font-face {
    font-family: 'Arial Narrow';
    src: url('../fonts/arial_narrow-webfont.eot');
    src: url('../fonts/arial_narrow-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arial_narrow-webfont.woff') format('woff'),
         url('../fonts/arial_narrow-webfont.svg#arial_narrow_italic-webfont') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Arial Narrow';
    src: url('../fonts/arial_narrow_bold-webfont.eot');
    src: url('../fonts/arial_narrow_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arial_narrow_bold-webfont.woff') format('woff'),
         url('../fonts/arial_narrow_bold-webfont.svg#arial_narrow_italic-webfont') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Arial Narrow';
    src: url('../fonts/arial_narrow_italic-webfont.eot');
    src: url('../fonts/arial_narrow_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arial_narrow_italic-webfont.woff') format('woff'),
         url('../fonts/arial_narrow_italic-webfont.svg#arial_narrow_italic-webfont') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Arial Narrow';
    src: url('../fonts/arial_narrow_bold_italic-webfont.eot');
    src: url('../fonts/arial_narrow_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arial_narrow_bold_italic-webfont.woff') format('woff'),
         url('../fonts/arial_narrow_bold_italic-webfont.svg#arial_narrow_bold_italic-webfont') format('svg');
    font-weight: bold;
    font-style: italic;

}
body{color:#333}
.container{font-family: 'Arial Narrow'; font-size:14px; color:#000; padding-top:0}
h1, h2, h3{font-family:Impact, 'Arial Black', sans-serif; font-weight:normal;}
a{color:#980000}
a:hover{text-decoration:none}


/*====== Lightboxes ======*/
.modal_overlay{position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.6); z-index:900}
	.modal{position:fixed; top:50%; left:50%; margin-left:-9999px; z-index:1000; padding:10px; background:rgba(0,0,0,0.5); border-radius:8px; box-shadow:0 0 15px rgba(0,0,0,0.4);}
		.modal_bar{position:relative}
			.modal_bar .capt_fix{position:absolute; top:0; width:10px; height:34px;}
			
			.modal_close{position:absolute; top:6px; right:6px; z-index:5}
			/*.modal_close span{position:absolute; top:7px; right:15px; display:block; width:18px; height:18px; line-height:18px; font-size:14px; font-weight:bold; text-align:center; color:#999; text-shadow:1px 1px #eee; border:1px solid transparent; border-radius:3px}*/
			.modal_close:hover span{color:#555; border-color:#999; box-shadow:1px 1px #eee}
			.modal_title{font-size:13px; color:#fff; text-transform:uppercase; padding:0 10px; height:34px; line-height:37px;}
		.modal_hold{min-width:150px; min-height:100px; background:#fff; position:relative; padding:5px 10px 15px}
		
	#pp_lightbox.modal{padding:0; background:none; border-radius:0}
	#pp_lightbox .modal_bar{height:0; border:none; padding:0; margin:0}
	

/* - Processing Overlay - */
.processing{position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.7) url(../images/loading.gif) 50% 50% no-repeat}
.processing div{text-align:left; text-indent:-9999em;}
		
		

/* - Tootltip - */
#gc_page .tooltip{display:inline-block; position:relative; width:auto; height:auto; font-size:inherit; line-height:normal; vertical-align:top; padding:5px; font-size:13px}
	.tooltip>span{cursor:help}
	.tooltip>div{position:absolute;  bottom:50%; box-shadow:0 0 7px rgba(0,0,0,0.4); padding:8px; 
		background:#fff; font-weight:normal; color:#000; font-size:14px; z-index:1;
		opacity:0; -webkit-transition: opacity 0.2s 0.2s; -moz-transition:opacity 0.2s 0.2s; transition:opacity 0.2s 0.2s; pointer-events:none;
		border: 1px solid #ccc; min-width:240px; right:-270px; margin-bottom:-30px; min-height:42px
}
	.tooltip>div:before{content:''; width:0; height:0; position:absolute; bottom:auto; top:50%; left:-24px; margin-top:-12px; border:12px solid transparent; border-right-color:#ccc;}
	.tooltip>div:after{content:''; width:0; height:0; position:absolute; bottom:auto; top:50%; left:-20px; margin-top:-10px; border:10px solid transparent; border-right-color:#fff;}
	.tooltip:hover>div{opacity:1; pointer-events:auto}
	
#ccv_tooltip{}
	#ccv_tooltip >div{margin-bottom:-88px; width:340px; right:-365px; font-size:13px; line-height:1.4}
	#ccv_tooltip >div img{margin-right:8px}
	#ccv_tooltip >div p{font-weight:bold; font-size:15px; margin-bottom:8px}
	
/* - Thumbnails Sliders - */
.thumbs_wrap{position:relative}
.thumbs_hold{margin:0 auto; overflow:hidden; position:relative; z-index:1}
	.thumbnails{overflow:hidden}
	.thumbnails.thumbsActivated{position:absolute; top:0; left:0; height:auto}
	.thumbnails.thumbsFull{margin:0; position:static}
	.thumbnails a:hover, .thumbnails a.current{border-color:#990000}

	.thumb_nav{position:absolute; top:0; width:100%; height:100%; left:0; margin:0}
	.thumb_nav a{display:block; width:24px; height:24px; text-align:left; text-indent:-9999em; background:url(../images/sprite_new.png) 0 0 no-repeat; position:absolute; top:50%; margin-top:-12px}
	
	.thumb_nav a.thumbPrev{left:0px; background-position:-24px -16px}
	.thumb_nav a.thumbNext{right:0px; background-position:0 -16px}
	.thumb_nav a.thumbPrev:hover{}
	.thumb_nav a.thumbNext:hover{}
	.thumb_nav a.thumbPrev.dissabled{display:none}
	.thumb_nav a.thumbNext.dissabled{display:none}

/* --- Gift Card Detection --- */	
.card_no_wrap{display:inline-block; position:relative;}
	.card_no_wrap >.inp_text{height:25px}
.card_logo{display:block; width:40px; height:24px; position:absolute; top:1px; right:1px;}
	.card_logo.cc_visa{background:url(../images/cc_logos.png) 0 0 no-repeat}
	.card_logo.cc_mastercard{background:url(../images/cc_logos.png) -40px 0 no-repeat}
	.card_logo.cc_amex{background:url(../images/cc_logos.png) -80px 0 no-repeat}
	.card_logo.cc_discover{background:url(../images/cc_logos.png) -120px 0 no-repeat}
	
/* ================== INDEX ================== */
#gc_page{}
#gc_page h2{font-size:26px; padding:5px 0 18px; margin-bottom:5px; border-bottom:1px solid #d6d6d6; line-height:1}
#gc_top{font-size:18px; background:#e3e3e3; line-height:20px; padding:9px 15px; margin-bottom:15px}
	#gc_top ul{display:block; float:right; width:65%}
	#gc_top ul li{float:left; font-size:16px; font-weight:bold; /*width:33.333%;*/ text-align:center}
	#gc_top ul li a{position:relative; color:#960027}
	#gc_top ul li a:after{content:''; display:inline-block; border:7px solid transparent; border-left-color:#960027; vertical-align:middle; margin-left:5px}
#gc_main{}
	#gc_main >.col{width:50%; padding:5px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
	#gc_main >.col:first-child{border-right:1px solid #eaeaea}
	#gc_main h3{font-size:18px; padding:20px 0; text-align:center}
	#gc_main table{}
	#gc_main table tr th{padding:5px 20px; line-height:15px}
	#gc_main table tr td{padding:5px 25px; line-height:15px}
	#gc_main table tr:nth-child(odd) th, #gc_main table tr:nth-child(odd) td{background:#e3e3e3}
	.gc_link{text-align:center; font-weight:bold; font-size:14px; line-height:17px; padding:25px 10px 40px}
	.gc_link img{max-width:100%; height:auto}
	.gc_link p{padding:25px 15px 15px}
	.gc_link .btn{}
	
/* gift card balance lightbox */
#gc_balance{padding:0; background:#fff; border-radius:0}
	#gc_balance .modal_bar{padding:0; border:none}
	#gc_balance h3{font-size:20px; text-transform:uppercase; margin-bottom:10px}
	#gc_balance p{font-size:13px; margin-bottom:35px; max-width:320px}

	
/* ================== CUSTOMIZE ================== */
.gc_header{margin-bottom:30px}
	.gc_header h3{font-size:22px; padding:25px 20px; text-transform:uppercase}
#step_bars{}
	#step_bars li{float:left; width:25%; padding:2px; text-align:center; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
	#step_bars li.current{}
	#step_bars li span, #step_bars li a{font-weight:bold; color:#000; border-bottom:5px solid #e3e3e3; display:block}
	#step_bars li.current a, #step_bars li.current span{border-bottom-color:#990000}
	
.gc_body{}
#gc_customize_form{}

#voucher_display{width:470px; padding:0 15px 0 10px; float:left}
	.gc_style{border:1px solid #f2dedf; border-radius:7px 7px 0 0}
		.gift_card{position:relative}
			.gift_card .img_wrap >img{max-width:100%; border-radius:7px}
			.gc_bottom{font-size:26px; font-weight:bold; color:#fff; line-height:32px; padding:18px 20px; background:#990000; position:absolute; width:100%; bottom:-1px; left:0; border-radius:0 0 7px 7px;
				-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
			.gc_bottom >img{position:absolute; right:10px; bottom:12px}
									
		.gift_card_footer{padding:10px 20px 20px; font-size:17px}
			.gift_card_footer .price{font-size:24px; font-weight:bold; float:left; line-height:28px}
			.gift_card_footer .code{text-transform:uppercase; float:right; line-height:28px}
	.gc_message{padding:20px; border:1px solid #f2dedf;}
		.gc_message p{font-size:15px; font-weight:bold; margin-bottom:15px}
		.gc_message >div{min-height:100px; font-size:14px; line-height:18px}

#voucher_input{width:50%; max-width:475px; float:right;}
	#voucher_input fieldset{padding:20px 0 30px; position:relative}
	#voucher_input fieldset:after{content:''; display:block; height:1px; width:100%; background:#e1e1e1; border:1px solid #d1d1d1; border-radius:1px; position:absolute; left:0; bottom:0}
	#voucher_input fieldset:last-child:after{display:none}
	#voucher_input fieldset:first-child{padding-top:0}
	#voucher_input .inp_label{font-size:13px; line-height:16px; color:#787878}
	#voucher_input .oc_select{font-size:14px;/* height:20px;*/ color:#900; border:1px solid transparent; font-family:'Arial Narrow', Arial, sans-serif; vertical-align:top; margin-bottom:10px}
	#voucher_input .oc_select:focus{outline:none; border-color:#ddd;}
	#voucher_input .capt{margin-bottom:15px}		
#voucher_input .thumbs_wrap{padding:10px 28px}
	#voucher_input .thumbs_hold{width:390px}
	#voucher_input .thumbnails a{width:120px; height:79px; margin:0 4px; float:left}
#gc_customize_form .inp_text, #gc_customize_form .inp_area, #gc_customize_form .btn{margin-left:15px}
#gc_customize_form .form_note{font-size:13px; vertical-align:top; line-height:22px; color:#888; margin-left:10px}
#gc_customize_form .form_note .ico_cal{display:inline-block; width:25px; height:17px; background:url(../images/sprite_new.png) -30px -40px; margin-right:4px}

/* ================== PAYMENT ================== */
#checkout_main{max-width:690px; width:70%; float:left}

/* --- Checkout Boxes --- */
.checkout_box{padding:18px 0 18px 22px}
	.checkout_box h3{margin:0; font-size:20px}
	.checkout_box .ch_block_capt{border-bottom:1px solid #c2c2c2; padding:0 0 2px 36px; margin-bottom:25px; font-size:20px; position:relative; cursor:pointer}
	.checkout_box .ch_block_capt:before{content:''; width:29px; height:25px; background:url(../images/open_close_ico.png) 0 -25px no-repeat; position:absolute; left:-1px; bottom:-1px}
	.checkout_box .ch_block_capt.closed:before{background-position:0 0px}

#payment_block h4{font-family:'Arial Narrow', Arial, Helvetica, sans-serif; margin-bottom:20px; font-size:16px; font-weight:bold}
/*#payment_block .hidden_content img{opacity:0.5}*/
#payment_block .shop_secure, #update_stack_form .shop_secure{position:relative; margin-bottom:15px; line-height:15px;}
#payment_block .shop_secure:before, #update_stack_form .shop_secure:before{content:''; display:inline-block; vertical-align:top; margin-right:5px; width:22px; height:15px; background:url(../images/sec_ico.png) 0 0 no-repeat}
#payment_block .inp_label, #update_stack_form .inp_label{font-weight:bold; margin:10px 0}
#payment_block .tooltip{}

/* --- Checkout Summary --- */
#checkout_side{width:27%; margin-right:1%; max-width:255px; float:right}
#checkout_totals{border:1px solid #ccc}
	#checkout_totals .capt{text-align:center; height:32px; line-height:32px; font-size:23px; font-weight:bold; color:#fff; background:#000}
	#checkout_totals .cont{padding:12px 5px}
	#checkout_totals dl{font-size:14px; font-weight:bold; line-height:15px}
	#checkout_totals dl dt{float:left; clear:left; width:70%; margin:0 0 6px}
	#checkout_totals dl dd{float:left; width:29%; padding:0 0 0 1%; text-align:right; margin:0 0 5px}
	#checkout_totals dl .cart_grand{font-size:23px; line-height:23px; padding:12px 0; margin-top:8px; border-top:1px solid #ebebeb}
	#checkout_totals dl dt.cart_grand{width:59%}
	#checkout_totals dl dd.cart_grand{font-size:20px; width:40%}
	.qest_mark{display:inline-block; vertical-align:middle; width:14px; height:14px; line-height:14px; text-align:center; border-radius:10px; color:#fff; background:#959595}
	#checkout_totals .btn{height:34px; line-height:34px; font-size:22px; margin:10px 0 20px}
		#checkout_totals .btn input[type="submit"]{font-size:22px}
	#checkout_totals .form_note{display:inline-block; vertical-align:top; padding:0 0 5px 47px; line-height:14px; position:relative}
	#checkout_totals .form_note:before{content:''; display:block; width:40px; height:25px; background:url(../images/sec_checkout_ico.png) 0 0 no-repeat; position:absolute; left:0; top:2px}
	
/* ================== REVIEW ================== */
.gc_data{font-size:14px; margin-bottom:12px; line-height:19px}
	.gc_data dt{float:left; clear:left; font-weight:bold}
	.gc_data dd{float:left; padding-left:5px}
.external_link_ico{display:inline-block; width:17px; height:15px; vertical-align:middle; background:url(../images/sprite_new.png) -55px 0 no-repeat;}
#gc_submit_form{}
	#gc_submit_form .btn{margin-bottom:15px}
	#gc_submit_form .form_note{display:block; vertical-align:top; padding:0 0 5px 47px; line-height:14px; position:relative}
	#gc_submit_form .form_note:before{content:''; display:block; width:40px; height:25px; background:url(../images/sec_checkout_ico.png) 0 0 no-repeat; position:absolute; left:0; top:2px}
	
/* ================== CONFIRMATION ================== */
#voucher_input h3{font-size:18px; color:#990000; font-family:'Arial Narrow',Arial, Helvetica, sans-serif; text-transform:none; margin-bottom:5px}
#voucher_input p{margin-bottom:20px}





/*- input fields -*/
.inp_text, .inp_select, .inp_area, .inp_list{border-radius:0; border:1px solid #a3a3a3; margin:0 0 12px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
	font-family:'Arial Narrow', Helvetica, sans-serif; font-size:14px;}
	.inp_text{height:24px; padding:0 8px}
	.inp_area{padding:5px 10px}
	.inp_select{height:24px; line-height:18px}
	input.inp_check, input.inp_radio{margin:0 5px 0 0; height:20px; line-height:20px; vertical-align:top}
	input.inp_check{height:auto; line-height:normal}
	.lab_check{}
	.lab_check span{display:inline-block; vertical-align:top; line-height:14px}
	.req_label{display:inline-block; vertical-align:middle; line-height:24px; margin:0 0 12px; min-width:10px; color:#b00; font-size:16px; font-weight:bold}
	
	.inp_radio_desc{padding:2px 0 0 21px; display:inline-block; font-size:12px; line-height:16px}
	
.btn{height:34px; line-height:34px; text-align:center; font-size:22px; min-width:0}
.btn input[type="submit"]{font-size:22px}
.btn:hover{text-decoration:none}
	
/*- Form Errors -*/
.error_holder{ font-family: 'Arial Narrow', Arial, Helvetica, sans-serif;padding:10px 15px!important; margin:5px 0; border:1px solid #d00; display:none; background:#FFEBE8}
.error_holder label{display:block; font-size:13px; color:#d00; margin:0 0 2px}

/*- widths -*/
.w100{width:100px}
.w140{width:140px}
.w160{width:160px}
.w270{width:270px}
.w290{width:290px}
.w340{width:340px}

select.w210{width:210px}
select.w240{width:240px}

/* --- ICONS --- */
.ico16x16{display:inline-block; vertical-align:middle; width:16px; height:16px; text-align:left; text-indent:-9999em; background:url(../images/sprite_new.png) 0 0 no-repeat}
	.ico_lock{background-position:-32px 0}
	
/* ======= GRIDS ========*/
.col{-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; margin:0!important}
.cols2 > .col{width:50%;}
.cols3 > .col{width:33.33%;}
.cols4 > .col{width:25%;}



/* ==================== DATEPICKER ===================*/
.ui-datepicker {width:17em; padding:.2em .2em 0; display:none; z-index:1200; box-shadow:1px 5px 10px rgba(0,0,0,0.3)}
.hasDatepicker{position:relative!important}
.ui-datepicker .ui-datepicker-header {position:relative; padding:.2em 0}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {position:absolute; top:2px; width:18px; height:18px; border:1px solid #fff; border-radius:20px; cursor:pointer}
	.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {top:1px}
	.ui-datepicker .ui-datepicker-prev {left:2px}
	.ui-datepicker .ui-datepicker-next {right:2px}
	/*.ui-datepicker .ui-datepicker-prev-hover {left:1px}
	.ui-datepicker .ui-datepicker-next-hover {right:1px}*/
	.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {display:inline-block; margin:3px 0 0 -8px; text-align:left; text-indent:-9999em; width:0; height:0; border:6px solid transparent; border-right-color:#fff;}
	.ui-datepicker .ui-datepicker-next span{border-right-color:transparent; border-left-color:#fff; margin:3px 0 0 7px}
	
	.ui-datepicker .ui-datepicker-title {margin:0 2.3em; line-height:1.8em; text-align:center; text-transform:uppercase; font-size:10px }
	.ui-datepicker .ui-datepicker-title span{color:#fff}
	.ui-datepicker .ui-datepicker-title select {font-size:1em; margin:1px 0}
	.ui-datepicker select.ui-datepicker-month-year {width:100%;}
	.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{width:49%}

	.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
		.ui-datepicker th {padding:.7em .3em; text-align:center; font-weight:normal; border:0; font-size:10px }
		.ui-datepicker td {border:0; padding:1px; }
		.ui-datepicker td span, .ui-datepicker td a {display:block; padding:.2em; text-align:right; text-decoration:none; }
	
	.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
	.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
	.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

.ui-widget {font-size:12px}
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {font-size: 1em; }
	.ui-widget-content {border:1px solid #ddd; background:#fff; color:#000}
.ui-widget-content a { color: #000; }
.ui-widget-header { border: 1px solid #ddd; background:#333; color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #ffffff; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #ccc; background:#fff; font-weight: normal; color: #999; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #333; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #fff; background:#fff; font-weight:normal; color:#333}
.ui-widget-header .ui-state-hover.ui-datepicker-prev span{border-right-color:#ddd}
.ui-widget-header .ui-state-hover.ui-datepicker-next span{border-left-color:#ddd}
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited { color: #333; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #333; background:#fff; font-weight: normal; color: #333; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #333; text-decoration: none; }

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {border:1px solid #ddd; background:#333; color:#fff}
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{color:#fff}
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {font-weight:bold}
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary {opacity: .7; filter:Alpha(Opacity=70); font-weight:normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {opacity:.35; filter:Alpha(Opacity=35); background-image:none}
.ui-state-disabled .ui-icon {filter:Alpha(Opacity=35);} /* For IE8 - See #6059 */














